  <ion-content>
    <div class="bg-auth">
      <ion-img
        src="assets/icon/logo1.png"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img>
    <div class="card">
      <h1>ابدأ</h1>
      <p>ابدأ مجانًا. يمكنك الترقية في أي وقت.</p>
      <button class="btn btn--white" (click)="navigate()"> <ion-icon slot="end" name="logo-google"></ion-icon> <span>متابعة باستخدام Google</span> </button>
      <button class="btn btn--primary" (click)="navigate()"> <ion-icon slot="end" name="logo-facebook"></ion-icon> <span>متابعة باستخدام Facebook</span> </button>
      <div class="small">بالضغط على “متابعة”، فإنك توافق على
      الشروط وسياسة الخصوصية.</div>
    </div>
    </div>

  </ion-content>
