<ion-content [fullscreen]="true" class="ion-padding toolbar-primary" dir="rtl">
  <div class="header">
    <app-header title="Abdallah Ahmed" right_icon="" left_icon=""></app-header>
  </div>

  <div class="content">
  <!-- Helper Tools -->
  <section class="section-card">
    <div class="section-header">
      <h2>أدوات المساعدة</h2>
      <a class="see-more" href="#">رؤية المزيد &#187;</a>
    </div>

    <div class="tools-grid" >
      <app-kpi-card *ngFor="let help of helps" [link]="help.link" [label]="help.label"></app-kpi-card>
    </div>
  </section>

  <!-- Batches / دورات -->
  <section class="section-card">
    <div class="section-header">
      <h2>الدورات <span class="count">(4)</span></h2>
      <!-- <app-button icon="add-outline" text="أضف المزيد" (senData)="addMore($event)"></app-button> -->
      <app-modal (save)="openAccordingFn()"></app-modal>
      <!-- <app-accordion *ngIf="openAccording"></app-accordion> -->
    </div>

    <!-- empty state -->
     <div>
     <app-empty-state></app-empty-state>
     </div>
  </section>

  <div style="height: 16px"></div>
  </div>

</ion-content>
