<div class="custom-item-div" routerLink="/home">
  <div class="ion-img">
    <ion-img src="assets/helps_icons/chicken.png" alt="batch image"></ion-img>
  </div>
  <div class="data">
    <div class="title">دورة عدد 1</div>
    <div class="date">Oct 10 2025</div>
    <div class="number"> 10 فراخ</div>
  </div>
  <div class="chart">
    <ion-icon name="trending-up-outline" color="success"></ion-icon>
   +400 د.ل
  </div>
  <div class="button">
    <app-button text="تفاصيل"></app-button>
  </div>
</div>
