
  <app-button id="open-modal" icon="add-outline" text="أضف المزيد"></app-button>
  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]" [isOpen]="isOpen">
    <ng-template>
      <div class="block">
        <!-- Block of Content -->
         @for (item of inputs; track $index) {
          <app-input
            [label]="item.label"
            [type]="item.type"
            [placeholder]="item.placeholder"
            [icon]="item.icon"
            [(value)]="item.value"
          ></app-input>
         }
         <div class="button">
          <app-button icon="checkmark-outline" text="حفظ" slot="start" [disabled]="!allFilled" (click)="saveData()"></app-button>
         </div>
      </div>
    </ng-template>
  </ion-modal>
