<!-- <ion-header>
    <ion-toolbar>
      <ion-title>Products</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
    <div class="bg-auth">
      <ion-img
        src="assets/icon/logo1.png"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img>
    <div class="card">
      <h1>ابدأ</h1>
      <p>ابدأ مجانًا. يمكنك الترقية في أي وقت.</p>
      <button class="btn btn--white"> <ion-icon slot="end" name="logo-google"></ion-icon> <span>متابعة باستخدام Google</span> </button>
      <button class="btn btn--primary"> <ion-icon slot="end" name="logo-facebook"></ion-icon> <span>متابعة باستخدام Facebook</span> </button>
      <div class="small">بالضغط على “متابعة”، فإنك توافق على
      الشروط وسياسة الخصوصية.</div>
    </div>
    </div>

  </ion-content>
<!--
  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-list *ngIf="products().length; else skeleton">
      <ion-item *ngFor="let p of products(); trackBy: trackById">
        <ion-label>
          <h3>{{ p.title }}</h3>
          <p>{{ p.price | currency }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ng-template #skeleton>
      <ion-list>
        <ion-item *ngFor="let i of [0,1,2,3,4,5]">
          <ion-label>
            <h3><ion-skeleton-text animated style="width:60%"></ion-skeleton-text></h3>
            <p><ion-skeleton-text animated style="width:40%"></ion-skeleton-text></p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>

    <ion-item lines="none">
      <ion-button id="open-analytics" #openAnalytics expand="block">Show analytics</ion-button>
    </ion-item>

    @defer (on interaction(openAnalytics); prefetch on idle) {
    } @placeholder {
      <div style="padding:12px">
        <ion-skeleton-text animated style="width:100%;height:180px"></ion-skeleton-text>
      </div>
    } @loading (after 150ms; minimum 400ms) {
      <ion-item lines="none"><ion-label>Loading analytics…</ion-label></ion-item>
    } @error {
      <ion-item color="danger"><ion-label>Failed to load analytics.</ion-label></ion-item>
    }
  </ion-content> -->
